/* .diff-code-insert .space .diff-code-edit {
    background-color: #eaffee;
}

.diff-code-delete .space .diff-code-edit {
    background-color: #fdeff0;
} */

/* .diff-gutter-selected {
    background-color: #dfc94c;
} */
